* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #00bcf2;
}

.wrapper {
  width: 80vmin;
  padding: 50px 40px;
  background-color: #15161a;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 5px;
  box-shadow: 20px 20px 40px rgba(9, 35, 42, 0.4);
}

span {
  display: block;
  text-align: center;
  font-size: 50px;
}

p {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
  line-height: 35px;
  margin: 30px 0;
  opacity: 0;
}

.fade {
  opacity: 1;
  transition: opacity 1.5s;
}

.allBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: block;
  background-color: #00bcf2;
  border: none;
  padding: 5px;
  font-size: 18px;
  color: #171721;
  font-weight: 600;
  padding: 12px 25px;
  margin: 0 25px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: inset 10px 20px 40px #09232a66;
  transition: all 0.5s ease;
}

button:active,
button:hover {
  color: #fff;
}
